@model IEnumerable<WebApplication12.Models.ToDo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $(".draggable").draggable({
            revert: "invalid"
        });

        $('.column').droppable({
            accept: '.draggable',
            drop: function (event, ui) {
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({ top: 0, left: 0 }).appendTo(droppedOn);

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "",
                    beforeSend: function (request) {
                        request.setRequestHeader("RequestVerificationToken", $('#RequestVerificationToken').val());
                    },
                    data: JSON.stringify({ cardId: dropped[0].id, columnId: droppedOn[0].id }),
                });
            }
        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col s10">
            <a href="/DoIt/Create"
               class="wave-effect waves-light btn">
                Ekle
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Yapılacaklar</h3>
                @foreach (var column in Model.Where(x => x.StatusId == 1 && x.UserId == 1))
                {
                    <div class="card blue-grey darken-1 draggable">
                        <div class="card-content">
                            <p>
                                <a class="text-black">
                                    @column.Title
                                    <br />
                                    <a class="white-text">
                                        @column.Description
                                    </a>
                                   
                                    <div class="col-md-2 float-right">
                                        <a href="/DoIt/Edit" type="sumbit" class="btn saa" style="margin-left: 175px">
                                            ---->
                                        </a>
                                    </div>
                                </a>
                            </p>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Yapılanlar</h3>
                @foreach (var column in Model.Where(x => x.StatusId == 2 && x.UserId == 1))
                {
                    <div class="card blue-grey darken-1 draggable">
                        <div class="card-content">
                            <p>
                                <a class="text-black">
                                    @column.Title
                                    <br />
                                    <a class="white-text">
                                        @column.Description
                                    </a>
                                    <div class="col-md-2 float-right">
                                        <a href="" type="">
                                            <button type="button" class="btn saa" style="margin-left: 175px">----></button>
                                        </a>
                                    </div>
                                </a>
                            </p>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Tamamlandı</h3>
                @foreach (var column in Model.Where(x => x.StatusId == 3 && x.UserId == 1))
                {
                    <div class="card blue-grey darken-1 draggable">
                        <div class="card-content">
                            <p>
                                <a class="text-black">
                                    @column.Title
                                    <br />
                                    <a class="white-text">
                                        @column.Description
                                    </a>
                                </a>
                            </p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

