@model IEnumerable<WebApplication12.Models.ToDo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    $(function () {
        $(".draggable").draggable({
            revert: "invalid"
        });

        $('.column').droppable({
            accept: '.draggable',
            drop: function (event, ui) {
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({ top: 0, left: 0 }).appendTo(droppedOn);

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/api/Board/movecard",
                    beforeSend: function (request) {
                        request.setRequestHeader("RequestVerificationToken", $('#RequestVerificationToken').val());
                    },
                    data: JSON.stringify({ cardId: dropped[0].id, columnId: droppedOn[0].id }),
                });
            }
        });
    });
</script>

<div class="container">


    <div class="row">
        <div class="col s10">
            <a href="/DoIt/Create"
               class="wave-effect waves-light btn">
                Add A Card
            </a>
        </div>
    </div>

    <div class="row">
        @foreach (var column in Model)
        {
            <div class="col m4">
                <div class="column" style="min-height: 600px" id="@column.Id">
                    <h3 style="text-align:center">@column.Status.Name</h3>
                    <div class="card blue-grey darken-1 draggable" id="@column.Id">
                        <div class="card-content">
                            <p>
                                <a class="text-black">
                                    @column.Title
                                    <br/>
                                    <a class="white-text">
                                        @column.Description
                                    </a>
                                </a>
                               
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

