@model  WebApplication12.Models.ToDo
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(todo => todo.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(todo => todo.Title)
                @Html.ValidationMessageFor(todo => todo.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(todo => todo.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(todo => todo.Description)
                @Html.ValidationMessageFor(todo => todo.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-info" id="btnsave" />
            </div>
        </div>



    </div>

    <script>
        $('#btnsave').click(function () {
            ({
                title: "Wow!",
                text: "Message!",
                type: "success"
            }),
            function() {
                window.location.href = 'login.html';
            }
        });
    </script>

}
