@model IEnumerable<WebApplication12.Models.ToDo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $(".draggable").draggable({
            revert: "invalid"
        });

        $('.column').droppable({
            accept: '.draggable',
            drop: function (event, ui) {
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({ top: 0, left: 0 }).appendTo(droppedOn);

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "",
                    beforeSend: function (request) {
                        request.setRequestHeader("RequestVerificationToken", $('#RequestVerificationToken').val());
                    },
                    data: JSON.stringify({ cardId: dropped[0].id, columnId: droppedOn[0].id }),
                });
            }
        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col s10">
            <div class="btn btn-success">
                @Html.ActionLink("Ekle", "Create", "Do")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s10">
            <div  class="btn btn-danger"">
                @Html.ActionLink("Çöp Kutusuu", "Trash", "Do")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Yapılacaklar</h3>
                @foreach (var column in Model.Where(x => x.StatusId == 1 && x.UserId == 1 && x.IsActive == 0))
                {
                    
                    <div class="thumbnail">
                        <img src="~/assets/Adsız.png" alt="" />
                        <div class="caption">
                            <h3>@column.Title</h3>
                            <p>@column.Description</p>
                            <p><a href="/Do/StatusChange/@column.Id" class="btn btn-primary" role="button">Sonraki</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Yapılanlar</h3>
                @foreach (var column in Model.Where(x => x.StatusId == 2 && x.UserId == 1 && x.IsActive == 0))
                {
                    <div class="thumbnail">
                        <img src="~/assets/Adsız.png" alt="" />
                        <div class="caption">
                            <h3>@column.Title</h3>
                            <p>@column.Description</p>
                            <p><a href="/Do/StatusChange/@column.Id" class="btn btn-primary" role="button">Sonraki</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Tamamlandı</h3>
                @foreach (var column in Model.Where(x => x.StatusId == 3 && x.UserId == 1 && x.IsActive == 0))
                {

                    <div class="thumbnail">
                        <img src="~/assets/Adsız.png" alt="" />
                        <div class="caption">
                            <h3>@column.Title</h3>
                            <p>@column.Description</p>
                            <p><a href="/Do/Delete/@column.Id" class="btn btn-primary" role="button">Sil</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
