@model  List<WebApplication12.Models.ToDo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <a href="/Do/Create"><button type="button" class="btn btn-success">Ekle</button></a>
            <a href="/Do/Trash"><button type="button" class="btn right btn-danger">Çöp Kutusu</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Yapılacaklar</h3>
                @foreach (var column in Model.Where(x => x.Statusid == 1 && x.IsActive == 0))
                {

                    if (column.Image != null)
                    {
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="@column.Image" alt="" />
                                <h3>@column.Title</h3>
                                <p>@column.Description</p>
                                <p>
                                    <a href="/Do/StatusChange/@column.Id" class="btn btn-primary" role="button">Sonraki</a>
                                    <a href="/Do/Edit/@column.Id" class="btn btn-default" role="button">Düzenle</a>
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="~/images/Adsız.png" alt="" />
                                <h3>@column.Title</h3>
                                <p>@column.Description</p>
                                <p>
                                    <a href="/Do/StatusChange/@column.Id" class="btn btn-primary" role="button">Sonraki</a>
                                    <a href="/Do/Edit/@column.Id" class="btn btn-default" role="button">Düzenle</a>
                                </p>
                            </div>
                        </div>
                    }



                }

            </div>
        </div>
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Yapılanlar</h3>
                @foreach (var column in Model.Where(x => x.Statusid == 2 && x.IsActive == 0))
                {
                    if (column.Image != null)
                    {
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="@column.Image" alt="" />
                                <h3>@column.Title</h3>
                                <p>@column.Description</p>
                                <p>
                                    <a href="/Do/StatusChange/@column.Id" class="btn btn-primary" role="button">Sonraki</a>
                                    <a href="/Do/Edit/@column.Id" class="btn btn-default" role="button">Düzenle</a>
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="~/images/Adsız.png" alt="" />
                                <h3>@column.Title</h3>
                                <p>@column.Description</p>
                                <p>
                                    <a href="/Do/StatusChange/@column.Id" class="btn btn-primary" role="button">Sonraki</a>
                                    <a href="/Do/Edit/@column.Id" class="btn btn-default" role="button">Düzenle</a>
                                </p>
                            </div>
                        </div>
                    }

                }

            </div>
        </div>
        <div class="col m4">
            <div class="column" style="min-height: 600px">
                <h3 style="text-align:center">Tamamlandı</h3>
                @foreach (var column in Model.Where(x => x.Statusid == 3 && x.IsActive == 0))
                
                {
                    if (column.Image != null)
                    {
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="@column.Image" alt=""/>
                                <h3>@column.Title</h3>
                                <p>@column.Description</p>
                                <p><a href="/Do/Delete/@column.Id" class="btn btn-primary" role="button">Sil</a> <a href="/Do/Edit/@column.Id" class="btn btn-default" role="button">Düzenle</a></p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="~/images/Adsız.png" alt="" />
                                <h3>@column.Title</h3>
                                <p>@column.Description</p>
                                <p><a href="/Do/Delete/@column.Id" class="btn btn-primary" role="button">Sil</a> <a href="/Do/Edit/@column.Id" class="btn btn-default" role="button">Düzenle</a></p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

